main div .btn {
    color: #2CF6B3;
    border-color: #2CF6B3;

}

main div .btn:hover {
    background: #2CF6B3;
    color: black;
}

#particles-js {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -100;
}

@media only screen and (min-width: 1330px) {
    .sub_title {
        width: 50%;
    }
  }